### Q1. What is a database? Differentiate between SQL and NoSQL databases.


Database:

A database is a structured collection of data organized in a way that allows efficient storage, retrieval, and management of that data. Databases are used in various applications to store and retrieve data systematically. They provide a way to organize and structure information, making it easy to query and manage large sets of data.

SQL Databases:

Data Model:
SQL databases follow a structured and tabular data model, where data is organized into tables with rows and columns. Each table represents an entity, and relationships between tables are defined.

Schema:
SQL databases enforce a predefined schema, which specifies the structure of the database, including the types of data that can be stored and relationships between tables.

Scalability:
SQL databases are typically scaled vertically, meaning that to handle increased load, you would need to upgrade the hardware (e.g., CPU, RAM) of a single server.

Consistency:
SQL databases adhere to the ACID (Atomicity, Consistency, Isolation, Durability) properties, ensuring transactional consistency and reliability.

Examples:
MySQL, PostgreSQL, Oracle, Microsoft SQL Server.

NoSQL Databases:

Data Model:
NoSQL databases support various data models, including document-oriented, key-value, column-family, and graph databases. The data structure is more flexible and can evolve over time.

Schema:
NoSQL databases are schema-less or have a dynamic schema, allowing for more flexibility in storing different types of data without a predefined structure.

Scalability:
NoSQL databases are typically designed for horizontal scalability, allowing them to handle increased load by adding more servers to a distributed system.

Consistency:
NoSQL databases may relax the ACID properties in favor of other properties like eventual consistency. Some NoSQL databases prioritize availability and partition tolerance (CAP theorem) over strict consistency

Examples:
MongoDB (document-oriented), Cassandra (column-family), Redis (key-value),

Key Differences:

Data Model:
SQL databases have a structured, tabular data model.
NoSQL databases support various data models, providing flexibility.

Schema:
SQL databases enforce a predefined schema.
NoSQL databases are schema-less or have a dynamic schema.

Scalability:
SQL databases are typically scaled vertically.
NoSQL databases are designed for horizontal scalability.

Consistency:
SQL databases adhere to ACID properties.
NoSQL databases may prioritize eventual consistency.

Use Cases:
SQL databases are often used for applications where the data structure is well-defined and unlikely to change frequently.
NoSQL databases are suitable for applications with evolving and dynamic data requirements, especially in scenarios with high volumes of read and write operations.

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL (Data Definition Language):

DDL, or Data Definition Language, is a subset of SQL (Structured Query Language) used for defining and managing the structure of a database. DDL statements are responsible for defining, altering, and dropping database objects, such as tables, indexes, and constraints. The primary DDL statements include CREATE, DROP, ALTER, and TRUNCATE.

1. CREATE:
The CREATE statement is used to define new database objects, such as tables, indexes, and views. It specifies the structure, data types, and constraints for the new object.

Example - Creating a Table:
CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    Age INT
);

2. DROP:
The DROP statement is used to delete existing database objects, such as tables, indexes, or views. It permanently removes the specified object and its associated data.

Example - Dropping a Table:
DROP TABLE Employees;

3. ALTER:
The ALTER statement is used to modify the structure of an existing database object. It can be used to add, modify, or drop columns, constraints, or indexes.

Example - Adding a Column to a Table:
ALTER TABLE Employees
ADD Email VARCHAR(100);

4. TRUNCATE:
The TRUNCATE statement is used to remove all rows from a table while keeping the table structure intact. It is more efficient than the DELETE statement for removing all data from a table.

Example - Truncating a Table:
TRUNCATE TABLE Employees;

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.


DML (Data Manipulation Language):

DML, or Data Manipulation Language, is a subset of SQL (Structured Query Language) used for manipulating data stored in a database. DML statements include INSERT, UPDATE, DELETE, and SELECT. In this context, I'll explain INSERT, UPDATE, and DELETE.

1. INSERT:
The INSERT statement is used to add new rows of data into a table.

INSERT INTO Employees (EmployeeID, FirstName, LastName, Age)
VALUES (1, 'John', 'Doe', 30);

2. UPDATE:
The UPDATE statement is used to modify existing data in a table.


UPDATE Employees
SET Age = 31
WHERE EmployeeID = 1;

3. DELETE:
The DELETE statement is used to remove rows from a table based on specified conditions.

DELETE FROM Employees
WHERE EmployeeID = 1;

### Q4. What is DQL? Explain SELECT with an example.


DQL (Data Query Language):

DQL, or Data Query Language, is a subset of SQL (Structured Query Language) used for querying and retrieving data from a database. The primary DQL statement is SELECT.

SELECT:
The SELECT statement is used to retrieve data from one or more tables in a database.

Example - Retrieving Data
SELECT EmployeeID, FirstName, LastName, Age
FROM Employees
WHERE Age > 25;

### Q5. Explain Primary Key and Foreign Key.

Primary Key:

A Primary Key is a column or a set of columns in a database table that uniquely identifies each record in the table. It serves as a unique identifier for each row, and no two rows can have the same primary key value. The primary key is used to enforce entity integrity and ensure that each record in the table can be uniquely identified.

Characteristics of a Primary Key:

Uniqueness: Each value in the primary key column(s) must be unique.
Non-Null: A primary key column cannot have NULL values.
Irreversibility: The values in the primary key should not change over time.
Stability: Ideally, the primary key should be stable and not subject to frequent changes.

CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    Age INT
);

Foreign Key:

A Foreign Key is a column or a set of columns in a database table that refers to the primary key of another table. It establishes a link or relationship between two tables, enforcing referential integrity. The foreign key column in one table typically refers to the primary key in another table, creating a connection between the data in the two tables.

Characteristics of a Foreign Key:

References a Primary Key: The foreign key references the primary key of another table.
Ensures Referential Integrity: It ensures that the values in the foreign key column correspond to existing values in the referenced primary key column.
Can Allow NULL: Depending on the design, a foreign key column may allow NULL values, indicating an optional relationship.

CREATE TABLE Orders (
    OrderID INT PRIMARY KEY,
    ProductID INT,
    CustomerID INT,
    FOREIGN KEY (ProductID) REFERENCES Products(ProductID),
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
);

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

To connect MySQL to Python, you can use the mysql-connector library. First, you need to install it using:

pip install mysql-connector-python

import mysql.connector

# Establishing the connection
connection = mysql.connector.connect(
    host="your_host",
    user="your_user",
    password="your_password",
    database="your_database"
)

# Creating a cursor
cursor = connection.cursor()

# Executing a SQL query
query = "SELECT * FROM your_table"
cursor.execute(query)

# Fetching the results
results = cursor.fetchall()

# Displaying the results
for row in results:
    print(row)

# Closing the cursor and connection
cursor.close()
connection.close()

### Q7. Give the order of execution of SQL clauses in an SQL query.

In SQL, the order of execution of clauses in a query follows a specific sequence. The typical order is as follows:

FROM: Specifies the source tables from which the data will be retrieved.
JOIN: Combines records from two or more tables based on a related column between them.
WHERE: Filters the rows based on a specified condition.
GROUP BY: Groups the result set by one or more columns.
HAVING: Applies a condition to the grouped data.
SELECT: Specifies the columns to be retrieved.
DISTINCT: Removes duplicate rows from the result set.
ORDER BY: Sorts the result set based on one or more columns.
LIMIT/OFFSET or FETCH FIRST/NEXT: Controls the number of rows to be returned.