### Q1. What are the three measures of central tendency?

#Mean Median and Mode are three measures of Central Tendency

### Q2. What is the difference between the mean, median, and mode? How are they used to measure the central tendency of a dataset?

#Mean is average of all data in dataset
#While median is midpoint of all points in data
#Mode is most repeated value in data
#Mean tells how what is on an averagwe value
#While median tells what is medial of all datapoint
#Mode tells which data got repeated in dataset for most of the time

### Q3. Measure the three measures of central tendency for the given height data:

[178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]

In [1]:
import pandas as pd
data=pd.DataFrame({"Data":[178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]})

In [2]:
data

     Data
0   178.0
1   177.0
2   176.0
3   177.0
4   178.2
5   178.0
6   175.0
7   179.0
8   180.0
9   175.0
10  178.9
11  176.2
12  177.0
13  172.5
14  178.0
15  176.5

In [3]:
data.describe()

             Data
count   16.000000
mean   177.018750
std      1.847239
min    172.500000
25%    176.150000
50%    177.000000
75%    178.050000
max    180.000000

In [4]:
data['Data'].mean()

177.01875

In [5]:
data['Data'].median()

177.0

In [6]:
from scipy import stats
stats.mode(data['Data'])

ModeResult(mode=177.0, count=3)

### Q4. Find the standard deviation for the given data:

[178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]

In [8]:
data

     Data
0   178.0
1   177.0
2   176.0
3   177.0
4   178.2
5   178.0
6   175.0
7   179.0
8   180.0
9   175.0
10  178.9
11  176.2
12  177.0
13  172.5
14  178.0
15  176.5

In [9]:
data.std()

Data    1.847239
dtype: float64

In [10]:
data['Data'].std()

1.847238930584419

### Q5. How are measures of dispersion such as range, variance, and standard deviation used to describe the spread of a dataset? Provide an example.

In [11]:
data

     Data
0   178.0
1   177.0
2   176.0
3   177.0
4   178.2
5   178.0
6   175.0
7   179.0
8   180.0
9   175.0
10  178.9
11  176.2
12  177.0
13  172.5
14  178.0
15  176.5

In [12]:
data.mean()

Data    177.01875
dtype: float64

In [13]:
data.median()

Data    177.0
dtype: float64

In [14]:
from scipy import stats
stats.mode(data['Data'])

ModeResult(mode=177.0, count=3)

In [15]:
data.var()

Data    3.412292
dtype: float64

In [16]:
data.std()

Data    1.847239
dtype: float64

#From all these we can ssay data is symmetrically distributed and does not have any skewness
#Also data will form gausian or normal distribution 
#It will have bell curve like pdf

### Q6. What is a Venn diagram?

#Venn diagram is representaion of Data in set form using circular or other geometrical symbols
#We can use venn diagram to show intersection difference complement universal data points representation

### Q7. For the two given sets A = (2,3,4,5,6,7) & B = (0,2,6,8,10). Find:

(i) A n B

(ii) A â‹ƒ B

In [18]:
A = (2,3,4,5,6,7)
B = (0,2,6,8,10)
A=set(A)
B=set(B)

In [19]:
set.intersection(A,B)

{2, 6}

In [20]:
set.union(A,B)

{0, 2, 3, 4, 5, 6, 7, 8, 10}

### Q8. What do you understand about skewness in data?

#It tells how well our data is centralized or dispersed 
#If data representated using graph is symmetrical then there is no skewness in this case it has same mean mode and median
#Data can be right skewed where mode<median<mean
#For data to be left skewed we have mean>median>mode
#For various skewwness we have distribution form this skewness can be formed using probablity distribution function or kernel denstity estimator
#Like for right skewed data we have smoothning of graph shaped called Log Normal Dsistributuion

### Q9. If a data is right skewed then what will be the position of median with respect to mean?

#Data can be right skewed where mode<median<mean
#For various skewwness we have distribution form this skewness can be formed using probablity distribution function or kernel denstity estimator
#Like for right skewed data we have smoothning of graph shaped called Log Normal Dsistributuion

### Q10. Explain the difference between covariance and correlation. How are these measures used in statistical analysis?

#Covariance is how x varies wrt to y or y wrt x
#While correlation is how x is related to y or y is related to x
#We can use this to corelate twp different data
#Like is one data increasing with other or decreasing or no effect
#For this we use co variance or for more effectiveness spearson or peakerson
#Through this we can make various assumption